.wrap {
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  background-color: #03c75a;
  border-radius: 8px;
  line-height: 48px;
  cursor: pointer;
}